<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PAA - Movie Scheduler</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/basscss.css') }}">
    <link rel="stylesheet" href="/static/css/style.css?v=23">
    <link rel="stylesheet" href="/static/css/compiled_scss.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="{{ url_for('static', filename='js/html5sortable.js') }}">
    </script>
    <script src="/static/js/script.js?v=p222422"></script>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">PAA - Movie Scheduler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://github.com/projeto-de-algoritmos/D-C_MovieRecommendation">GitHub</a>
                </li>
            </ul>
        </div>
    </nav>




    <section id="content" class="h-100">
        <div  id="iterative" class="d-flex align-items-center justify-content-center h-100">

        <div  class="form-row ">
            <div  class="col">
                <div id="names">
                    <label for="title">Name</label>
                    <input type="text" class="form-control mb-2 title" name="title"  placeholder="Movie name" >
                </div>

                <button id="schedule" class="rounded  button navy ">Give me a schedule </button>
            </div>

            <div class="col" id="times">

                <label for="time-1">Start time</label>
                <input  id="time-1" class="mb-2" data-role="timepicker" data-seconds="false"> 

            </div>

        </div>
        <div id="result">
        


        </div>
     </div>

    </section>


    <script type="text/javascript">

    </script>
    {{ bootstrap.load_js() }}
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-input-spinner@1.13.9/src/bootstrap-input-spinner.min.js"></script>
</body>

</html>