@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins';
    background-image: url("/static/img/bg-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #18181a;
}

.button {
    background-color: #bec2c1;
}

.dark-bg {
    background-color: #18181a;
}

#tutorial-text {
    font-weight: 700;
    font-size: 1.2em;
    font-weight: 700;
}